{% extends 'back/produit/base/listeBase.html.twig' %}

{% block title %}Liste des aromes{% endblock %}

{% block configuration %}
    {% for message in app.flashes('successArome') %}
        <div style="background-color: #d4edda" class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h6 class="element-header">Liste des aromes</h6>

    <div id="tablecontent" class="table-responsive">
        <div style="margin: auto; display: none" class="loader"></div>
        <a href="{{path('back_produit_creation_arome')}}" class="btn btn-sm btn-primary mb-3"><i class="os-icon os-icon-plus-circle"></i> Créer une arome</a>
        
        <table class="table table-striped table-lightfont table-hover dataTable1">
            <thead>
                <tr>
                    <th> Nom </th>
                    <th>Référence</th>
                    <th>Fournisseur</th>
                    <th>Description</th>
                    <th> Action</th>
                </tr>
            </thead>
            <tbody>
                {% if aromes %}
                    {% for arome in aromes %}
                        <tr>
                            <td>
                                {{arome.nom}}
                            </td>
                            <td>
                                {% if arome.reference %}
                                    {{arome.reference}}
                                {% endif %}
                            </td>
                            <td>
                                {% if arome.fournisseur %}
                                    {{arome.fournisseur}}
                                {% endif %}
                            </td>
                            <td>
                                {% if arome.description %}
                                    {{arome.description}}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{path('back_produit_modification_arome', {id: arome.id})}}" class="btn btn-success btn-sm"><i class="os-icon os-icon-edit"></i></a>  
                                <form method="post" class="d-inline" action="{{ path('back_produit_supprime_arome', {'id': arome.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette arome?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ arome.id) }}">
                                    <button style="padding-top: 0;" class="btn btn-danger btn-sm"><i class="os-icon os-icon-ui-15"></i></button>
                                </form> 
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        
    </div>

{% endblock %}