{% extends 'back-base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {% for message in app.flashes('groupSuccess') %}
                <div style="background-color: #d4edda" class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            
            <div class="element-wrapper">
                <h6 class="element-header">Bon de préparation groupé</h6>
                
                <div class="element-box">
                    <div class="row mb-3 ml-2">
                        <a class="btn btn-primary btn-sm" href="{{ path('back_production_fusionner') }}">Grouper des bons de préparation</a>
                    </div>
                    <div class="table-responsive mt5">
                        <table class="table table-striped table-hover dataTable1">
                            <thead>
                                <tr>
                                    <th scope="col" >Code interne</th>
                                    <th scope="col">Code client</th>
                                    <th scope="col" class="text-center">Client</th>
                                    <th scope="col" class="text-center">Voir</th>
                                    <th scope="col" class="text-center">Satut</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for groupe in groupes %}
                                
                                    <tr>
                                        <th scope="row" class="font-weight-bold" >
                                            {% if groupe.code %}
                                                <h6 class="badge badge-light">
                                                    <a href="" class="btn btn-link" data-toggle="modal" data-target="#modal{{groupe.id}}">{{groupe.code}}</a> 
                                                </h6> 
                                            {% else %}
                                
                                                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal{{groupe.id}}">
                                                    Ajouter code
                                                </button>
                                                
                                            {% endif %}
                                            <div class="modal fade" id="modal{{groupe.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                                {% if groupe.code %}
                                                                    Modifier code interne
                                                                {% else %}
                                                                    Ajouter code interne
                                                                {% endif %}
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="{{path('back_code_interne_groupe_production_liste', {id: groupe.id})}}" method="POST">
                                                                <div class="form-group">
                                                                  <label for="" class="col-form-label">Code interne:</label>
                                                                  <input type="text" class="form-control" name="numCommandeInterne" {% if groupe.code %}value="{{groupe.code}}"{% endif %}required>
                                                                </div>
                                                                <button class="btn btn-primary">Enregistrer</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <td>
                                            <ul>
                                                {% for bon in groupe.bonDeCommande %}
                                                    <li>    
                                                        <h6 class="badge badge-light">
                                                            {{ bon.code }} <br>
                                                        </h6> 
                                                    </li>     
                                                {% endfor %}
                                                </ul>
                                        </td>
                                        <td class="text-center">

                                            {% set client = groupe.bonDeCommande[0].client %}

                                        
                                            {% if client.raisonSocial %}
                                                
                                                <span class="badge badge-pill badge-primary">{{client.raisonSocial }} </span> <br>
                                                
                                            {% endif %}

                                        </td>
                                        <td class="text-center">
                                            <a href="{{path('back_excel_groupe_production_liste', {id: groupe.id})}}" class="btn btn-link"> <i class="os-icon os-icon-download"></i> Téléchager</a>
                                        </td>
                                        <td class="text-center"> 

                                            {#% if bon.toutEstExpedier %}
                                                <span class="badge badge-pill badge-success">Expédier</span>
                                            {% else %}
                                                <span class="badge badge-primary-inverted text-left">En cours de traitement</span> 
                                            {% endif %#}
                                            
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
