{% extends 'back-base.html.twig' %}

{% block title %}Créer un client{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="element-wrapper">
                <div class="element-box">
                    <h4 class="title">Créer un client</h4>
                    <div class="mt-4">
                        <div> 
                            {{ form_start(form) }}
                            
                                <div style="color: red;">
                                    {{form_errors(form.email)}} {{form_errors(form.Siren)}}
                                </div>
                            
                                <div class="row">
                                    
                                    <div class="form-group col-md-3">
                                        {{ form_row(form.raisonSocial, {'label': 'Raison sociale', 'attr':{'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{ form_row(form.lastName, {'label': 'Nom', 'attr':{'class': 'form-control'}}) }}
                                    </div>
    
                                    <div class="form-group col-md-3">
                                        {{ form_row(form.firstName, {'label': 'Prénoms', 'attr':{'class': 'form-control'}}) }}
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="email">Email</label>
                                        {{ form_widget(form.email, {'label': '', 'attr':{'class': 'form-control'}}) }}
                                    </div>

                                    
                                </div>
                            
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label for="email">Téléphone</label>
                                        {{ form_widget(form.telephone, {'label': '', 'attr':{'class': 'form-control'}}) }}
                                    </div>

                                    <div class="form-group col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Adresse de facturation</label>
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.adresseFacturation, {'attr':{'class': 'form-control', 'placeholder': 'adresse...'}}) }}
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.codePostalFacturation, {'attr':{'class': 'form-control', 'placeholder': 'Code Postal...'}}) }}
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.villeFacturation, {'attr':{'class': 'form-control', 'placeholder': 'Ville...'}}) }}
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.communeFacturation, {'attr':{'class': 'form-control', 'placeholder': 'Commune...'}}) }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="row">

                                    <div class="form-group col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Adresse de livraison</label>
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.adresseServiceAchats, {'attr':{'class': 'form-control', 'placeholder': 'adresse...'}}) }}
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.codePostalServiceAchat, {'attr':{'class': 'form-control', 'placeholder': 'Code Postal...'}}) }}
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.villeServiceAchat, {'attr':{'class': 'form-control', 'placeholder': 'Ville...'}}) }}
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.communeServiceAchat, {'attr':{'class': 'form-control', 'placeholder': 'Commune...'}}) }}
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        {{ form_row(form.nomDestinataire, {'label': 'Nom de destinataire', 'attr':{'class': 'form-control'}}) }}
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    
                                    <div class="form-group col-md-4">
                                        {{ form_row(form.principaleActivite, {'label': 'Activité principale', 'attr':{'class': 'form-control'}}) }}
                                    </div>
                                    
                                    <div class="form-group col-md-4">
                                        {{ form_row(form.formeJuridique, {'label': 'Forme juridique', 'attr':{'class': 'form-control'}}) }}
                                    </div>
                                    
                                    <div class="form-group col-md-4">
                                        {{ form_row(form.capital, {'label': 'Capital', 'attr':{'class': 'form-control'}}) }}
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        {{ form_row(form.codeNaf, {'label': 'Code NAF', 'attr':{'class': 'form-control'}}) }}
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="sire">SIREN</label>
                                        {{ form_widget(form.Siren, {'label': '', 'attr':{'class': 'form-control'}}) }}
                                    </div>
    
                                    <div class="form-group col-md-3">
                                        {{ form_row(form.noTva, {'label': 'Numéro TVA intracommunautaire ', 'attr':{'class': 'form-control'}}) }}
                                    </div>

                                    <div class="form-group col-md-3">
                                        {{ form_row(form.iban, {'label': 'IBAN', 'attr':{'class': 'form-control'}}) }}
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4">
                                        {{ form_row(form.swift, {'label': 'SWIFT', 'attr':{'class': 'form-control'}}) }}
                                    </div>
    
                                    <div class="form-group col-md-4">
                                        {{ form_row(form.regimeTva, {'label': 'Régime TVA', 'attr':{'class': 'form-control'}}) }}
                                    </div>

                                    <div class="form-group col-md-4">
                                        {{ form_row(form.domiciliationBancaire, {'label': 'Domiciliation Bancaire', 'attr':{'class': 'form-control'}}) }}
                                    </div>
 
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-3">
                                        {{ form_row(form.typeDeClient, {'label': 'Type de client', 'attr':{'class':'form-control'}}) }}
                                    </div>
                                    
                                    <div class="form-group col-sm-3">
                                        {{ form_row(form.jourLivraison, {'label': 'Jour de livraison', 'attr':{'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group col-sm-3">
                                        {{ form_row(form.horaireLivraison, {'label': 'Tranche horaire', 'attr':{'class':'form-control'}}) }}
                                    </div>

                                    <div class="form-group col-sm-3">
                                        <label for="pays">Pays<span class="text-danger"></span></label>
                                        {{ form_row(form.pays, { 'attr':{'class':'form-control form-control'}}) }}
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label class="form-check-label" > Generer un bon de livraison avec des numéros de lot</label>
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="ajoutNumeroLot" id="ouiNumLot" value="1">
                                            <label class="form-check-label" for="ouiNumLot">Oui</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="ajoutNumeroLot" id="nonNumLot" value="0">
                                            <label class="form-check-label" for="nonNumLot">Non</label>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <label class="form-check-label" > B pure offert pour l'achat d'un chubby ?</label>
                                        <br>
    
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chubbyOffert" id="ouiChubby" value="1">
                                            <label class="form-check-label" for="ouiChubby">Oui</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="chubbyOffert" id="nonChubby" value="0">
                                            <label class="form-check-label" for="nonChubby">Non</label>
                                        </div>
                                        
                                    </div>

                                </div>

                                <div class="form-group">
                                    {{ form_row(form.remarque, {'label': 'Remarque', 'attr':{'class': 'form-control'}}) }}
                                </div>
                                
                                <div class="text-center">
                                    <button class="btn btn-{{ info|default('primary') }}">{{ button_label|default('Enregistrer') }}</button>
                                </div>
                                
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}