
{% block _prestation_typePrestations_widget %}
    
{{ form_widget(form) }}

{% endblock %}

{% block _prestation_typePrestations_entry_row %}

<div id="block_{{id}}">
    {{ form_widget(form) }}
</div>

{% endblock %}

{% block _prestation_typePrestations_entry_widget %}
<div class="row mt-2 align-items-center">
    <div class="col-sm-5">
        {{ form_row(form.nom) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.quantite, {'attr': {'class': 'js-customizeInput js-quantite ', 'data-id': id }}) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.prixUnitaire, {'attr': {'class': 'js-customizeInput js-prix', 'data-id': id }}) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.prix, {'attr': {'class': 'js-customizeInput js-type-val js-total', 'data-id': id }}) }}
    </div>
    <div class="col ">
        <a href="" class="btn delete btn-danger btn-sm" data-action="delete" data-target="#block_{{id}}"><i class="os-icon os-icon-ui-15"></i></a>
    </div>
</div>
{% endblock %}