<div class="row">
    {% set countProduit = 1 %}
    {% set array = [] %}
    
    {% for prod in listeProduit %}
        {% if prod.id not in array %}
            {% set marqueBlanche = false %}
            {% set tarif = null %}
           
            {% for mb in marqueBlanches %}
                {% if prod == mb.produit %}
                    {% set marqueBlanche = true %}
                    {% set tarif = mb.tarif %}
                {% endif %}
            {% endfor %}

            <div class="col-md-4 mt-3 ">
                <div class="card border p-4 m-2 bg-light border-light shadow">
                    <h5 class="card-title text-center mb-3 nom_{{prod.id}} font-weight-bold">{{prod.getNomMarqueBlanche(client)}}</h5>

                    {% if not marqueBlanche %}
                        <div class="alert alert-warning col-sm-12">
                            Le client n'a pas de tarif pour cette produit <br>
                            Le tarif afficher est le tarif de référence
                        </div>
                    {% endif %}

                    <hr style="width: 90%;">
                    <div class="card-body">
                        
                        <input type="hidden" name="produit-{{countProduit}}" value="{{prod.id}}">
                        
                        {% if prod.declinaison %}
                        
                            {% for declinaison in prod.declinaison %}
                                {% set show = false %}
                                {% set quantiteSession = 0 %}

                                {% if  brouillon[prod.id] is defined and brouillon[prod.id][declinaison] is defined %}
                                   
                                    {% set show = true %}
                                    {% set quantiteSession = brouillon[prod.id][declinaison] %}
                                    
                                {% endif %}

                                {% set declinaisonReplace = declinaison | deleteSpecialChar %}

                                <div class="row">
                                    <div class="form-check col-sm-3 ">
                                    
                                        <input class="form-check-input declinaison" id="{{ prod.id ~ declinaisonReplace }}" type="checkbox" data-dec="{{declinaison}}" data-productid="{{ prod.id }}" name="produit-{{countProduit}}-{{declinaisonReplace}}" data-ref="{{prod.reference|replace({' ': '', "'":'','%': '', '+':'_'})}}" data-poids="{{prod.poids}}" value="{{declinaisonReplace}}" {% if show %} checked {% endif %}
                                        >
                                        <label class="form-check-label" for="{{ prod.id ~ declinaisonReplace }}" class="{{declinaisonReplace}}">{{declinaison}}</label> <br>

                                    </div>

                                    <div class="col-sm-4">
                                        
                                        {% if marqueBlanche %}
                                            {% if tarif %}
                                                {% if tarif.memeTarif %}
                                                
                                                    {% if client.typeDeClient.nom|lower == "grossiste" %}
                                                        <span class="badge badge-success {{declinaisonReplace}}{{prod.id}}" data-val="{{tarif.prixDeReferenceGrossiste}}" {% if not show %}style="display: none;"{% endif %}>{{tarif.prixDeReferenceGrossiste}}€</span> <br>
                                                    {% else %}
                                                        <span class="badge badge-success {{declinaisonReplace}}{{prod.id}}" data-val="{{tarif.prixDeReferenceDetaillant}}"{% if not show %}style="display: none;"{% endif %}>{{tarif.prixDeReferenceDetaillant}}€</span> <br>
                                                    {% endif %}

                                                {% else %}

                                                    {% for tarifDecl in tarif.prixDeclinaisons %}
                                                        {% if tarifDecl.typeDeClient == client.typeDeClient %}
                                                        
                                                            {% if tarifDecl.actif %}  
                                                                {% if declinaison == tarifDecl.declinaison %}
                                                                    <span class="badge badge-success display-4 {{declinaisonReplace}}{{prod.id}}" data-val="{{tarifDecl.prix}}" {% if not show %}style="display: none;"{% endif %}>{{tarifDecl.prix}}€</span> <br>
                                                                {% endif %}
                                                            {% endif %}
                                                            
                                                        {% endif %}
                                                    {% endfor %}

                                                {% endif %}
                                            {% else %}
                                                <span class="badge badge-danger" data-val="0">Aucun prix</span>
                                            {% endif %}
                                        {% else %}
    
                                            {% if prod.tarif %}
                                                {% if prod.tarif.memeTarif %}
                                                
                                                    {% if client.typeDeClient.nom|lower == "grossiste" %}
                                                        <span class="badge badge-success {{declinaisonReplace}}{{prod.id}}" data-val="{{prod.tarif.prixDeReferenceGrossiste}}" {% if not show %}style="display: none;"{% endif %}>{{prod.tarif.prixDeReferenceGrossiste}}€</span> <br>
                                                    {% else %}
                                                        <span class="badge badge-success {{declinaisonReplace}}{{prod.id}}" data-val="{{prod.tarif.prixDeReferenceDetaillant}}" {% if not show %}style="display: none;"{% endif %}>{{prod.tarif.prixDeReferenceDetaillant}}€</span> <br>
                                                    {% endif %}

                                                {% else %}

                                                    {% for tarifDecl in prod.tarif.prixDeclinaisons %}
                                                        {% if tarifDecl.typeDeClient == client.typeDeClient %}
                                                        
                                                            {% if tarifDecl.actif %}  
                                                                {% if declinaison == tarifDecl.declinaison %}
                                                                    <span class="badge badge-success display-4 {{declinaisonReplace}}{{prod.id}}" data-val="{{tarifDecl.prix}}" {% if not show %}style="display: none;"{% endif %} >{{tarifDecl.prix}}€</span> <br>
                                                                {% endif %}
                                                            {% endif %}
                                                            
                                                        {% endif %}
                                                    {% endfor %}

                                                {% endif %}
                                            {% else %}
                                                <span class="badge badge-danger" data-val="0">Aucun prix</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <input type="number" data-dec = "{{ declinaison }}"  data-productid="{{ prod.id }}" min="0" value="{{ quantiteSession }}" class="form-control quantite{{declinaisonReplace}}{{prod.id}}" name="quantite-{{countProduit}}-{{declinaisonReplace}}" placeholder="Quantité" {% if not show %}style="display: none;"{% endif %}>
                                        </div>
                                    </div>
                                </div>
                        
                            {% endfor %}
                        
                        {% else %}

                            <div class="text-center">
                                {% if tarif %}
                                    
                                    {% if client.typeDeClient.nom|lower == "grossiste" %}
                                    
                                        <span class="badge badge-success sans-{{prod.id}}" data-val="{{tarif.prixDeReferenceGrossiste}}" >{{tarif.prixDeReferenceGrossiste}}€</span> <br>
                                    {% else %}
                                    
                                        <span class="badge badge-success sans-{{prod.id}}" data-val="{{tarif.prixDeReferenceDetaillant}}" >{{tarif.prixDeReferenceDetaillant}}€</span> <br>
                                    {% endif %}
                                    
                                {% else %}    
                                    {#% if prod.tarif %}
                                        {% if client.typeDeClient.nom|lower == "grossiste" %}
                                        
                                            <span class="badge badge-success sans-{{prod.id}}" data-val="{{prod.tarif.prixDeReferenceGrossiste}}" >{{prod.tarif.prixDeReferenceGrossiste}}€</span> <br>
                                        {% else %}
                                        
                                            <span class="badge badge-success sans-{{prod.id}}" data-val="{{prod.tarif.prixDeReferenceDetaillant}}" >{{prod.tarif.prixDeReferenceDetaillant}}€</span> <br>
                                        {% endif %}
                                    {% else %#}
                                        <span class="badge badge-danger  sans-{{prod.id}}" data-val="0">Aucun prix</span>
                                    {#% endif %#}
                                {% endif %}
                                

                            </div>
                            
                            <div class="row">
                                <label for="">Quantitées</label>

                                {% set quantiteSans = 0 %}
                                {% if  brouillon[prod.id] is defined and brouillon[prod.id]["sans"] is defined %}
                                   
                                    {% set quantiteSans = brouillon[prod.id]['sans'] %}
                                    
                                {% endif %}
                                <input type="number" data-dec = "sans" data-ref="{{prod.reference|replace({' ': '', "'":'','%': '', '+':'_'})}}"  data-productid="{{ prod.id }}" name="quantite-{{countProduit}}-{{prod.id}}" min="0" value="{{ quantiteSans }}" class="form-control sansDecl" data-poids="{{prod.poids}}" data-id="{{prod.id}}">
                            </div>
                        
                        {% endif %}
                        
                    
                    </div>
                </div>
                {% set countProduit = countProduit + 1 %}
            </div>
            {% set array = array|merge([prod.id]) %}
        {% endif %}
    {% endfor %}
</div>