{% extends 'back/produit/index.html.twig' %}
{% block title %} Liste des categories{% endblock %}
{% block produits %}
    {% for message in app.flashes('successCategorie') %}
        <div style="background-color: #d4edda" class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h6 class="element-header">Liste des categories disponibles</h6>

    <div id="tablecontent" class="table-responsive">
        <div style="margin: auto; display: none" class="loader"></div>
        <a href="{{path('back_produit_creation_categorie')}}" class="btn btn-sm btn-primary mb-3"><i class="os-icon os-icon-plus-circle"></i> Créer un categorie</a>
        
        <table class="table table-striped table-lightfont table-hover dataTable1">
            <thead>
                <tr>
                    <th> Nom </th>
                    <th>Description</th>
                    <th> Action</th>
                </tr>
            </thead>
            <tbody>
                {% if categories %}
                    {% for categorie in categories %}
                        <tr>
                            <td>
                                {{categorie.nom}}
                            </td>
                            <td>
                                {{categorie.description}}
                            </td>
                            <td>
                                <a href="{{path('back_produit_modification_categorie', {id: categorie.id})}}" class="btn btn-success btn-sm"><i class="os-icon os-icon-edit"></i></a>  
                                <form method="post" class="d-inline" action="{{ path('back_produit_supprime_categorie', {'id': categorie.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette categorie?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
                                    <button style="padding-top: 0;" class="btn btn-danger btn-sm"><i class="os-icon os-icon-ui-15"></i></button>
                                </form> 
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        
    </div>

{% endblock %}
                